.block3_all {
    display: inline-flex;
    position: relative;
    margin-left: 10vw;
    margin-top: 1.2vw;
}
.block3_all_rectangle {
    position: absolute;
    width: 35vw;
    height: 48vw;
    margin-top: 111.5vw;
}
.block3_all_kettle1 {
    position: absolute;
    width: 18vw;
    height: 20vw;
    margin-top: 113vw;
    margin-left: 19vw;
}
.block3_all_kettle2 {
    position: absolute;
    width: 27vw;
    height: 37vw;
    margin-top: 116vw;
}
.block3_all_kettle3 {
    position: absolute;
    width: 34vw;
    height: 45vw;
    margin-top: 122vw;
    margin-left: 16vw;
}
.block3_all_text1 {
    position: absolute;
    font-family: "HelveticaNeueCyr Bold";
    font-size: 3.1vw;
    color: black;
    margin-top: 119vw;
    margin-left: 40vw;
    margin-right: -100vw;
    letter-spacing: -6px;
}
.block3_all_text2 {
    position: absolute;
    font-family: "HelveticaNeueCyr Medium";
    font-size: 0.9vw;
    color: black;
    margin-top: 125vw;
    margin-left: 40vw;
    margin-right: -100vw;
}
.block3_all_text3 {
    position: absolute;
    font-family: "HelveticaNeueCyr UltraLight";
    font-size: 0.9vw;
    color: black;
    margin-top: 126vw;
    margin-left: 40vw;
    margin-right: -63vw;
}