.block4_all_circle {
    position: absolute;
    margin-top: 152vw;
    width: 25vw;
    height: 28vw;
    margin-left: 74vw;
}
.block4_all_rectangle {
    position: absolute;
    margin-top: 169vw;
    width: 99vw;
    height: 23vw;
}
.block4_all_kettle {
    position: absolute;
    margin-top: 164vw;
    width: 50vw;
    height:28vw;
    margin-left: 43vw;
}
.block4_all_text1 {
    position: absolute;
    font-family: "HelveticaNeueCyr Bold";
    font-size: 3.1vw;
    color: white;
    margin-top: 175vw;
    margin-left: 6vw;
    letter-spacing: -6px;
}
.block4_all_text2 {
    position: absolute;
    font-family: "HelveticaNeueCyr UltraLight";
    font-size: 0.9vw;
    color: white;
    margin-top: 180vw;
    margin-left: 6vw;
    margin-right: 71vw;
}
.logoline_img_manylogo {
    position: absolute;
    margin-top: 200vw;
    margin-left: 6vw;
    width: 45vw;
    height: 1.9vw;
    margin-left: 28vw;
}