.block2_all {
    display: inline-flex;
    position: relative;
    margin-left: 45vw;
}
.block2_all_rectangle {
    position: absolute;
    width: 49vw;
    height: 45vw;
    margin-top: 68vw;
}
.block2_all_kettle2 {
    position: absolute;
    width: 52vw;
    height: 60vw;
    margin-top: 53vw;
    margin-left: -6vw;
}
.block2_all_text1 {
    position: absolute;
    font-family: "HelveticaNeueCyr Bold";
    font-size: 3.1vw;
    color: black;
    margin-top: 67vw;
    margin-left: -25vw;
    letter-spacing: -6px;
}
.block2_all_text2 {
    position: absolute;
    font-family: "HelveticaNeueCyr Medium";
    font-size: 0.9vw;
    color: black;
    margin-top: 73vw;
    margin-left: -25vw;
}
.block2_all_text3 {
    position: absolute;
    font-family: "HelveticaNeueCyr Medium";
    font-size: 0.9vw;
    color: black;
    margin-top: 74vw;
    margin-left: -25vw;
    margin-right: 5vw;
}
.block2_all_text4 {
    position: absolute;
    font-family: "HelveticaNeueCyr UltraLight";
    font-size: 0.9vw;
    color: black;
    margin-top: 81vw;
    margin-left: -25vw;
    margin-right: 5vw;
}
.block2_all_text5 {
    position: absolute;
    font-family: "HelveticaNeueCyr UltraLight";
    font-size: 0.9vw;
    color: black;
    margin-top: 82vw;
    margin-left: -25vw;
    margin-right: 5vw;
}
.block2_all_circle1 {
    position: absolute;
    margin-top: 89vw;
    width: 18vw;
    height: 22vw;
    margin-left: -45vw;
}